* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,p {
    margin: 0;
    padding: 0;
}
.none {
    display: none !important;
}
.news__section {
    padding: 10px;
    background-color: #c4c4c4;
}
.section__title {
    margin: 20px;
}
.news__article {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dedcdc;
    box-shadow: 0 4px 9px -2px rgba(0,0,0,.3);
}
.news__article.--is-empty {

}
.news__article .article__title {

}
.news__article .article__text {

}