$article-color-bg: #CFE7FD;
$article-color-bg-hover: #fff;
$article-color-text: #0F2034;
$article-color-text-hover: #000;
$section-color-bg: #3E7DF2;
$section_title-color-border: rgba(207, 231, 253, 0.4);
$btn-color-border: #3E7DF2;
$btn-color-text: darken(#3E7DF2, 10%);
$placeholder-color-text: #333;
$playfair:'Playfair Display', serif;

input::-webkit-input-placeholder {color: $placeholder-color-text;}
input:focus::-webkit-input-placeholder {color: transparent;}
input::-moz-placeholder          {color: $placeholder-color-text;}/* Firefox 19+ */
input:focus::-moz-placeholder          {color: transparent;}/* Firefox 19+ */
input:-moz-placeholder           {color: $placeholder-color-text;}/* Firefox 18- */
input:focus:-moz-placeholder           {color: transparent;}/* Firefox 18- */
input:-ms-input-placeholder      {color: $placeholder-color-text;}
input:focus:-ms-input-placeholder      {color: transparent;}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: sans-serif;
}
h1,h2,h3,h4,h5,p {
  margin: 0;
  padding: 0;
}
.none {
  display: none !important;
}
.section__title {
  width: 100%;
  padding: 10px 0 15px;
  margin: 20px;
  color: #cfe7fd;
  font: {
    family: $playfair;
    size: 36px;
    weight: 900;
  }
  text: {
    shadow: 1px 1px #68727b;
    align: center;
    transform: capitalize;
  }
  border: {
    top: 2px solid $section_title-color-border;
    bottom: 2px solid $section_title-color-border;
  }
  line-height: 1;
}
.news {
  //selector not exist
  &__section {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: $section-color-bg;
  }
  &__article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    background-color: $article-color-bg;
    border-radius: 4px;
    box-shadow: 0 4px 9px -2px rgba(0,0,0,.3);
    &:hover {
      background-color: $article-color-bg-hover;
      .article__title {
        color: $article-color-text-hover;
      }
    }
    &.--is-empty {

    }
  }
  &__count {
    width: 100%;
    padding: 10px 0 14px;
    margin: 20px;
    color: #cfe7fd;
    font: {
      family: $playfair;
      size: 20px;
      weight: 700;
    }
    text: {
      shadow: 1px 1px #68727b;
      align: center;
      transform: capitalize;
    }
    border: {
      top: 2px solid $section_title-color-border;
      bottom: 2px solid $section_title-color-border;
    }
    line-height: 1;
  }
}
.article {
  //selector not exist
  &__wrap {
    display: flex;
    min-width: 250px;
    width: 50%;
  }
  &__footer {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: auto;
    font-size: 12px;
  }
  &__title {
    font: {
      size: 20px;
      family: $playfair;
    }
    color: $article-color-text;
  }
  &__text {
    margin: 20px 0 0;
    line-height: 1.4;
    text-align: justify;
  }
}
.btn {
  background-color: transparent;
  border: 2px solid $btn-color-border;
  color: $btn-color-text;
  line-height: 26px;
  padding: 0 10px;
  border-radius: 19px;
  font-weight: 600;
}
.article__readmore {
  margin-top: 20px;
}
.news__search {
  width: 100%;
  padding: 0 20px;

  .input__search {
    line-height: 30px;
    height: 30px;
    border: none;
    padding: 0 10px;
    border-radius: 3px;
    font-family: $playfair;
    font-size: 14px;
    color: #000;

  }
}